<div class="flex justify-between items-center bg-blue-500">
  <p class="text-3xl ml-5 font-medium text-white"><%=text%></p>
  <img class="rounded-full my-2 mx-5" src="https://via.placeholder.com/70" alt="user image">
</div>