<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <title>Online Voting Homepage</title>
</head>

<body>
  <div class="bg-blue-500">
    <p class="text-3xl text-center font-medium text-white py-5">Online Voting Platform</p>
  </div>
  <% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i = 0; i < messages.error.length; i++) { %>
      <p class="bg-green-400 m-5 rounded px-4 py-2"><%= messages.error[i] %></p>
    <% } %>
  <% } %>
  <div class="flex justify-center">
    <img src="./4585.png" class="" alt="onling voting platform image">
  </div>
  <div class="flex flex-col items-center my-5">
      <p class="text-2xl col-start-2 col-span-2">New User? <a class="text-green-600" href="/signup">Sign Up</a></p>
      <p class="text-2xl col-start-4 col-span-2">Already Registered? <a class="text-green-600" href="/login">Sign In</a></p>
  </div>
</body>

</html>